html,
body{
  margin: 0;
  height: 100%;
  background-size: cover;
  background-color: #344e41;

  /* a3b18a
  588157
  3a5a40
  344e41 */
}



.pure-g {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pure-u-1-5 {
    width: 100%;
}

.square {
    background-color: #a3b18a;
    /* border-radius: 1px solid #a3b18a; */
    height: 100px;
    width: 100px;
    /* margin: 1em; */
}

